<div class="callout callout--primary">
    <div class="grid grid--1x2"> 
      <div class="callout__content">
        <h2 class="callout__heading">Ready to get started ?</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, praesentium iusto odit minus dolores deserunt ipsam, sint reiciendis distinctio nam neque suscipit rem quas cumque reprehenderit a iure ipsa quibusdam!</p>
    </div>
    <a href="#" class="btn btn--secondary btn-- stretched">Get started</a>
  </div>