<div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="image/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy start and manage updates</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quisquam architecto quos ducimus eum consectetur id odio quaerat eveniet at natus, facilis quidem earum a omnis expedita modi autem. Blanditiis!</p>
    </div>
  </div>