<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
      <h2>User frindly control panel</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture class="block-showcase__image">
        <source type="image/webp" srcset="image/ipad.webp 1x, image/ipad@2x.webp 2x"/>
        <source type="image/png" srcset="image/ipad.png 1x, image/ipad@2x.png 2x"/>
        <img  src="image/ipad.png" alt="">
      </picture>
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="image/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy start and manage updates</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quisquam architecto quos ducimus eum consectetur id odio quaerat eveniet at natus, facilis quidem earum a omnis expedita modi autem. Blanditiis!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="image/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quisquam architecto quos ducimus eum consectetur id odio quaerat eveniet at natus, facilis quidem earum a omnis expedita modi autem. Blanditiis!</p>
          </div>
        </div>
      </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="image/sprite.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Dynamic caching& More</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quisquam architecto quos ducimus eum consectetur id odio quaerat eveniet at natus, facilis quidem earum a omnis expedita modi autem. Blanditiis!</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>